body {
    background-color: #1B9AAA;
    color: #3d1f00;
    padding: 0;
    margin: 0;
}
h1, h3 {
    text-align: center;
    margin-top: 130px;
    color: #3d1f00;
}
p{
    text-align: center;
}
form {
    background-color: #D17C1F;
    width: 50%;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: auto;
}
input[type="text"], input[type="email"], input[type="password"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border-radius: 2px;
    border: 1px solid #1e352f;
    box-sizing: border-box;
    justify-self: center;
    background-color: #F8FFE5;
}
input[type="submit"] {
    background-color: #F8FFE5; 
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: black; 
    border: 2px solid #698f3f;
    border-radius: 4px;
  }
  input[type="submit"]:hover {
    background-color: #698f3f;
    color: #fffff0;
  }
nav {
    background-color: #F8FFE5;
    padding: 0;
    margin: 0;
    height: fit-content;
    width: 100%;
    position: fixed;
    top: 0;
}
img.logo {
    height: 80px;
    width: auto;
}
ul {
    display: flex;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    padding-inline-end: 40px;
    justify-content: space-between;
}
    a {
        text-decoration: none;
        color: #1E352F;
    }
    
        li a:hover {
            color: #698f3f;
            cursor: pointer;
        }

    li {
        align-self: center;
    }
        #logo {
            width: 50%;
        }
        #search {
            width: 25%;
        }
