body {
    background-color: #1B9AAA;
    color: #3d1f00;
    padding: 0;
    margin: 0;
}
h1, h3 {
    margin-top: 120px;
}
nav {
    background-color: #F8FFE5;
    padding: 0;
    margin: 0;
    height: fit-content;
    width: 100%;
    position: fixed;
    top: 0;
}
img {
    height: 80px;
    width: auto;
}
ul {
    display: flex;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    padding-inline-end: 40px;
    justify-content: space-between;
}
    a {
        text-decoration: none;
        color: #1E352F;
    }
    
        li a:hover {
            color: #698f3f;
            cursor: pointer;
        }

    li {
        align-self: center;
    }
        #logo {
            width: 50%;
        }
        #search {
            width: 25%;
        }

.selection{
  background-image: url("/images/lunchtray.png"); 
/*   margin-top: 10%; */
  margin-left:auto;
  margin-right:auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  

}

 .choice{
display:inline-flex; 
}
  

/* .choice:hover{
  display:inline-block;
  
} */

.veggies{
  position: relative;
  top: 21%;
  left: 22%;
}

.veggies img{
  width: 12%;
  height: 7%;
}

.fruits{
  position: relative;
  top: 15%;
  left: 39%;
}

.fruits img{
  width: 237px;
  height: 340px;
}

.meats{
  position: relative;
  top: 300px;
  left: 16%;
  
}

.meats img{
  width: 237px;
  height: 340px;
}

.selection{
    background-image: url("/images/lunchtray.png"); 
  /*   margin-top: 10%; */
    margin-left:auto;
    margin-right:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
  
  }
  
  /* .choice{
  display:inline-flex; 
  }*/
    
  
  /* .choice:hover{
    display:inline-block;
    
  } */
  
  .veggies{
    position: relative;
    top: 21%;
    left: 22%;
  }
  
  .veggies img{
    width: 12%;
    height: 7%;
  }
  
  .fruits{
    position: relative;
    top: 15%;
    left: 39%;
  }
  
  .fruits img{
    width: 237px;
    height: 340px;
  }
  
  .meats{
    position: relative;
    top: 300px;
    left: 16%;
    
  }
  
  .meats img{
    width: 237px;
    height: 340px;
  }
